body {
    font-family: 'Poppins', sans-serif;
    margin-left: 120px;
}

.main-influencer {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.ancore-bar a {
    text-decoration: none;
    color: black;
    margin-right: 34px;

}

.contener {
    display: flex;
}

.first-content {
    width: 40%;
    padding-top: 10%;

}

.first-content-2 {
    padding-left: 12%;
    padding-top: 08%;
}

h1 {
    font-size: 50px;
}

.link-in {
    text-decoration: none;
    background-color: rgb(208, 34, 34);
    padding: 10px 40px;
    color: white;
    border-radius: 10px;
}